section{
  background-color: rgba(0, 153, 255,0.55);
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.interaction-container {
  display: grid;
  grid-template-columns: repeat(7,14% [col-start]);
  grid-template-rows: repeat(3,33% [row-start]);
  text-align: center;
  margin: 2% auto 2% auto ;
  height: 15vh;
  width: 50vw;
}

.clear-button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.clear-background-button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.app-line-width-picker {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 2;
}

.app-background-picker {
  margin-top: 30%;
  margin-left: 35%;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: center;
}

.app-color-picker {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.line-button {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
}

.erase-button {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

.color-picker {
  align-self: center;
  height: 100%;
  width: 100%;
}

.board-container {
  background-color: #FFFFFF;
  position: relative;
  width: 95%;
  height: 75%;
  margin: auto;
  border: 3px solid rgba(0, 153, 255);
}

.board-container > * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.board {
  background-color: rgba(224, 9, 9, 0);
}

.canvas-background{
  background-color: rgba(0, 0, 0, 0);
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #071ae7;
}


