<section class="vh-100 vw-100">
  <div class="container">
    <div class="interaction-container">
      <app-color-picker (colorEvent)="pickColor($event)" class="app-color-picker" />
      <button mat-raised-button color="primary" type="button" (click)="clearCanvas()" class="clear-button">Clear canvas</button>
      <button mat-raised-button color="primary" type="button" (click)="clearBackground()" class="clear-background-button">Clear background</button>
      <app-line-width-picker class="app-line-width-picker" (widthEvent)="pickLineWidth($event)" />
      <button mat-raised-button color="primary" type="button" (click)="changeLineDrawing()" [ngStyle]="{'opacity': drawLine ? 0.7 : 1.5}" class="line-button">Line</button>
      <button mat-raised-button color="primary" type="button" (click)="changeEraseMode()" [ngStyle]="{'opacity': erase ? 0.7 : 1}" class="erase-button">Erase</button>
      <app-background-picker (imageEvent)="pickImage($event)" class="app-background-picker" />
    </div>

    <div class="board-container">
      <img class="canvas-background" id="background" src="{{backgroundURL}}" alt=""
           (mousedown)="pressEventHandler($event)"
           (mouseup)="releaseEventHandler($event)"
           (mousemove)="dragEventHandler($event)"
           (mouseout)="cancelEventHandler()"
           (touchstart)="pressEventHandler($event)"
           (touchend)="releaseEventHandler($event)"
           (touchmove)="dragEventHandler($event)"
           (touchcancel)="cancelEventHandler()"
      >
      <canvas class="board" id="board" #board
              (mousedown)="pressEventHandler($event)"
              (mouseup)="releaseEventHandler($event)"
              (mousemove)="dragEventHandler($event)"
              (mouseout)="cancelEventHandler()"
              (touchstart)="pressEventHandler($event)"
              (touchend)="releaseEventHandler($event)"
              (touchmove)="dragEventHandler($event)"
              (touchcancel)="cancelEventHandler()"
      ></canvas>
    </div>
  </div>
</section>
