form{
  display:grid;
  justify-content: center;
}

h2{
  display: flex;
  justify-content: center;
  padding-top:22px;
}

button:hover {
  background-color: #45a049;
}


.mat-mdc-text-field-wrapper mdc-text-field ng-tns-c13-1 mdc-text-field--filled mdc-text-field--no-label{
  width: 90%;
}
