.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.my-user-info{
  color:white;
  height: 65px;
  font-size:large;
  background-color:#0099ff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.sender-name{
  font-size:medium;
  color: #015ea9;
}

.top-bar {
  color: white;
  height: 65px;
  font-size:large;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #0099ff;
  justify-content: space-between;
}
.canvas-button{
  border-radius: 0.5em;
  display: flex;
}


.settings-button{
  display:flex;
  padding: 5px 10px;
  background: rgba(255,255,255,0);
  color: black;
  border: none;
  cursor: pointer;
}

.add-user-button{
  display:flex;
  padding: 5px 10px;
  background: rgba(255,255,255,0);
  color: black;
  border: none;
  cursor: pointer;
}

.logout-button {
  border-radius: 0.5em;
  display:flex;
  padding: 5px 10px;
  background-color: #e53935;
  color: white;
  border: none;
  cursor: pointer;
}


.user-options-bar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: #0099ff;
  height: 62px;
  flex-wrap: wrap;
  align-content: center;
}

.user-options-bar button{
 color:white;
}

.message-container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.user-list {
  position: relative;
  flex: 1;
  overflow-y: auto;
  background-color: #9e9e9e4f;
}

.user-list ul{
  width: 100%;
  list-style-type: none;
  padding: 1em;
}

.user-list li{
  background-color: #9e9e9e4f;
  padding:0.5em;
  font-size:20px;
  width: auto;

}

.user-list li:hover{
  background-color: #e3f2fd;
  cursor: pointer;
}



.message-window {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.messages {
  display:flex;
  gap:10px;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.messages > .my-message {
  align-self: flex-end;
}

.messages > .other-message {
  align-self: flex-start;
}

.message {
  display:grid;
  border-radius: 2em;
  margin-bottom: 10px;
  max-width: 60%;
}

.my-message {
  display:grid;
  justify-items: end;
  justify-content: end;
  background-color: #0099ff;
  color:white;
}

.other-message {
  display: grid;
  justify-items: start;
  justify-content: flex-start;
  background-color:#ccebff;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.message-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 3em;
}

.message-input button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #0099ff;
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;
  border-radius: 1em;
  width: 10%;
}

span{
  margin:0 1em 0 1em;
  padding:0.5em;
}

p{
  font-size:large;
  margin: 0 1em 0 1em;
  padding: 0.5em;
}

.search-user{
  padding:1em 0.7em;

}

.search-user input{
  border-radius: 1em;
  width: 100%;
  padding: 10px;
}
.search-user {
  position: relative;
}

.search-icon {
  position: relative;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: gray;
}

.mat-mdc-form-field{
  display:grid;
  width: 100%;

}

