<section class="chat-container" xmlns="http://www.w3.org/1999/html">


  <div class="message-container">
    <div class="user-list">
      <div  class="my-user-info">
        <label>{{getLoggedUserName()+" " + localStorage.getItem("id")}}</label>
      </div>
      <mat-form-field class="search-user">

        <input matInput type="text" placeholder="Search users" [formControl]="userSearchControl" [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectUser($event.option.value)">
          <mat-option *ngFor="let user of filteredUsers " [value]="user.name" (click)="selectUser(user)">
            {{ user.name }} / {{ user.id }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <ul>
        <li *ngFor="let conversation of conversations;let i = index" (click)="selectConversation(conversation.id) " [ngStyle]="{'background-color': currentConversation===conversation.id ? '#e3f2fd' : ' #fafafa'}" >
         <div class="sender-name">{{ getOtherUserNameByConversation(conversation)}}</div>
          <div class="last-message-in-side-bar">{{ getLastMessageInSideBarByMessages(conversation.messages)}}</div>
        </li>
      </ul>
      <div class="user-options-bar">
        <button class="add-user-button" (click)="openCreateGroup()" title="Utwórz grupę"><mat-icon>group_add</mat-icon></button>
        <button class="settings-button" (click)="openToSettings()" title="Ustawiena"> <mat-icon>settings</mat-icon></button>
        <button class="logout-button" (click)="logout()" title="Wyloguj się"><mat-icon>logout</mat-icon></button>
      </div>
    </div>

    <div class="message-window">
      <div class="top-bar">
        <label>{{getConversationNameById()}}</label>
        <button class="canvas-button" (click)="goToCanvas(currentConversation)" title="Przejdz do interaktywnej tablicy"><img src="/assets/images/whitboard_icon.svg"  width="35" height="35"> </button>
      </div>
      <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let message of getMessages()" class="message" [ngClass]="{'my-message': message.sender === localStorage.getItem('id'),'other-message': message.sender !== localStorage.getItem('id')}">
          <span>{{ getNameById(message.sender)}}</span>
          <p>{{ message.text }}</p>
        </div>
      </div>

      <div class="message-input">
        <input type="text" [(ngModel)]="newMessage" placeholder="Type your message" (keydown)="onKeyDown($event)">
        <button (click)="sendMessage(currentConversation)">Send</button>
      </div>
    </div>
  </div>
</section>
